@use "../../../shared/styles/variables";
@use "../../../shared/styles/mixins";

.paintingCard {
  @include mixins.setSize(17.5em, 20.5em);
  display: flex;
  margin-right: 2em;
  flex-direction: column;
}

.paintingImage {
  @include mixins.setSize(100%, 10em);
  object-fit: cover;
  border: variables.$border;
}

.paintingName {
  @include mixins.setFontParams(18px);
  margin: 0;
}

.paintingInfo {
  padding: 1.5em;
  padding-top: 1.25em;
  border: variables.$border;
}

.buyPaintingSection {
  @include mixins.flexCenter();
  height: 3em;
  margin-top: 1.375em;
  justify-content: space-between;
}

.discount {
  @include mixins.setFontParams(14px, 300);
  display: block;
  color: variables.$discount;
}

.sold {
  opacity: 0.5;
}
