@use "../../shared/styles/variables";
@use "../../shared/styles/mixins";
@use "../../shared/styles/resets";

.catalog {
  width: fit-content;
  max-width: 81.25em;
  margin: 2.8125em auto;
  color: variables.$primary;
}

.paintingsList {
  @include resets.resetList;
  @include mixins.setFontParams(16px);
  display: flex;
  flex-flow: row wrap;
  margin-top: 2.4375em;
}

.title {
  @include mixins.setFontParams(24px, bold);
  margin: 0;
}
