@use "./variables";
@use "./mixins";
@use "./resets";

button {
  @include mixins.setFontParams(14px, bold);
  @include mixins.setSize(118px, 48px);
  @include resets.resetButton;
  color: white;
  background-color: variables.$button;
  &:hover {
    background-color: variables.$hooveredButton;
  }
}
