$primary: #343030;
$secondary: #555555;
$discount: #a0a0a0;
$searchPlaceholder: #9f9f9f;

$border: 1px solid #e1e1e1;
$activeBorder: 1px solid #b5b5b5;

$button: #403432;
$hooveredButton: #776763;
$disabledButton: #c1b4b1;
$clickedButton: #5b3a32;

$footerBackground: #eceaea;

$lineHeight: 1.5em;
