@use "./shared/styles/mixins";

.app {
  min-height: 100vh;
  font-family: "Merriweather";
  background-color: #f6f3f3;
}

header,
footer {
  @include mixins.flexCenter();
  height: 6.5em;
  font-size: 14px;
}
