@use "./shared/styles/mixins";
@use "./shared/styles/components";

.app,
button,
input {
  font-family: "Merriweather";
}

.app {
  min-height: 100vh;
  background-color: #f6f3f3;
}

header,
footer {
  @include mixins.flexCenter();
  @include mixins.setSize(100%, 6.5em);
  @include mixins.setFontParams(14px);
}
